<!-- <nav>
    <ul class="d-flex list-unstyled m-0 align-items-center">
        <li *ngFor="let menu of menus">
            <a [routerLink]="menu.url"
               class="menu-link px-3 text-decoration-none"
               routerLinkActive="active-link">
              {{ menu.title }}
            </a>
        </li>
    </ul>
</nav> -->

<nav class="main-nav" [ngClass]="{'open': isMobileMenuOpen}">
    <ul class="nav-list">
        <!-- <li *ngFor="let item of menuItems" class="nav-item">
            <a 
              [routerLink]="item.link.startsWith('#') ? null : item.link" 
              (click)="navigateToSection(item.link)"
              class="nav-link"
            >
              {{ item.name }}
            </a>
        </li> -->
        <li *ngFor="let menu of menus">
            <a [routerLink]="menu.url"
               class="nav-link"
               routerLinkActive="active-link">
              {{ menu.title }}
            </a>
        </li>
    </ul>
    <a href="#contact" class="btn-primary nav-cta">Register Now</a>
</nav>